NUXT_PUBLIC_SITE_URL=https://azzamazizali.sy
INDEXNOW_KEY=a7f3c9e2b8d14f6a9c0e5b2d8f1a4c7e
NUXT_PUBLIC_GA_ID=
NUXT_PUBLIC_GSC_VERIFICATION=
NUXT_PUBLIC_TURNSTILE_SITEKEY=
TURNSTILE_SECRET_KEY=

SMTP_HOST=cp379.dcx1.cp.illevante.com
SMTP_PORT=465
SMTP_USER=projects@azzamazizali.sy
SMTP_PASS=
CONTACT_TO=projects@azzamazizali.sy
